.invitation{

  .phone-wrapper{
    padding: 0 20px;
    margin-top: calc(50% + 56px);

    .sub-title{
      margin-bottom: 8px;
      font-size: 14px;
      font-weight: 600;
      color:#2e2f33;
    }

    .input-wrapper{
      display: flex;
      gap:8px;

      .input{
        width: 65%;
        border:1px solid #e0e0e0;
        border-radius: 12px;
        padding:12px;

        &:focus {
          border: 1px solid #ff7968;
        }
      }

      .send{
        width: 36%;
        border:none;
        background: #ff7968;
        border-radius: 12px;
        padding:12px;
        color:white;
        font-weight:700;
        font-size:16px;
      }
    }
  }
}
