.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.continue-wrapper {
    display: flex;
    flex-direction: column;
    gap:12px;
}

.continue {
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #70737C29;
    border-radius:12px;
    width:335px;
    height:48px;
    font-weight:600;
    font-size:16px;
    color:#171719;
}
